<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/productEdit.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/login.css"> -->
    
    <title>Editar :id</title>

    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <%- include("../partials/header") %> 

    <main>
        <div class="edit-modify">
            <div class="div-edit-modify" action="">
                <img src="/images/mustang2.png" alt="">
            </div>
            
            <div class="content-box">   
                <form class="form-edit-modify" action="">
                    <div class="car-id">
                        <h4>ID:25</h4>
                    </div>

                    <div class="input-box">
                        <span>Nombre de producto</span>
                        <input type="text" name="">
                    </div>
                    
                    <div class="input-box">
                        <span>Descripcion del producto</span>
                        <input type="text" name="">
                    </div>

                    <label for="">Imagen
                        <input class="input-box" type="file" name="" id="">
                    </label>

                    <div class="input-box">
                        <span>Categoria</span>
                        <input type="text" name="">
                    </div>

                    <div class="input-box">
                        <span>Color</span>
                        <input type="text" name="">
                    </div>

                    <div class="input-box">
                        <span>Precio</span>
                        <input type="text" name="">
                    </div>

                    <div class="input-submit">
                        <input type="submit" value="Aplicar" name="">
                    </div>

                    <div class="input-submit">
                        <input type="reset" value="Descartar" name="">
                    </div>


                    <!-- <button class="aply-changes" type="submit">Aplicar cambios</button>
                    <button class="dischard-changes" type="reset">Descartar cambios</button> -->
                </form>
            </div> 
        </div>
    </main>

    <%- include("../partials/footer") %> 
</body>
</html>