<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intereses</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
  
    <%- include("../partials/header") %> 

    <main>
      <section>
        <h2>Autos en tramite</h2>
        <div class="div-cars-cart">
          <div class="div-cars-cart-img">
            <img src="/images/mustang.png" alt="">
            
          </div>
          <div class="car-data-container">
            <div class="car-data1">
              <h3>Modelo</h3>
              <p class="p">color.motor.año</p>
            </div>
            <div class="car-data2">
              <p class="p-estatus">Estado</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2>Favoritos</h2>
        <div class="div-cars-cart">
          <div class="div-cars-cart-img">
            <img src="/images/mustang.png" alt="">
          </div>
          <div class="car-data-container">
            <div class="car-data1">
              <h3>Modelo</h3>
              <p class="p">color.motor.año</p>
              
            </div>
            <div class="car-data2">
              <button class="btn-Reserve" >Reservar</button>
              <p class="p"><i class="fa-solid fa-heart"></i>Precio</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="car-search-error">
          <h2 class="ups-h2">Ups parece que no encontraste tu auto ideal</h2>
          <a href="/"><button class="car-search-button">Buscar tu auto</button></a>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %> 


  </body>
</html>
