<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/58f19d8ff4.js"
    crossorigin="anonymous"
    ></script>
  
    <title>Register</title>
</head>

<%- include('../partials/header') %>


    <body>
        
        <section>
            <div class="content-box" >
                <div class="form" data-aos="flip-left" data-aos-duration="800">
                    <h2>DEJANOS TUS DATOS</h2>
                    <!-- <form method="get" action="/" id="form"> -->

                    
                        <div class="input-box" id="divFirstName">
                            <span>Nombre</span>
                            <input type="text" name="firstName" id="firstName">
                        </div>

                        <div class="input-box" id="divFirstName">
                            <span>Apellido</span>
                            <input type="text" name="firstName" id="firstName">
                        </div>

                        <div class="input-box" id="divFirstName">
                            <span>Email</span>
                            <input type="text" name="firstName" id="firstName">
                        </div>

                        <div class="input-box" id="divFirstName">
                            <span>Numero de telefono</span>
                            <input type="text" name="firstName" id="firstName">
                        </div>

                        
                        <div class="input-box">
                            <a href="/"><input type="submit" value="RESERVAR" name="" id="submit"></a>
                        </div>
                        
                    <!-- </form> -->
                </div>
            </div>
        </section>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/dropdownMenu.js"></script>
        <script src="/js/aos.js"></script>


    </body>