<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

      <div class="logo">
        <a href="/"><img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" /></a>
        <p>Eleanor Cars</p>
      </div>
    </header>

    <main>
      <section class="publicity">
        <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_3c0b3a3bb5da42bcbe970a9be1abac9f.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente nesciunt dolores voluptatum dicta, facere nisi quia exercitationem voluptate consequuntur, obcaecati odio debitis illo fuga necessitatibus eligendi inventore ad iure quo.</p>
      </section>
      <section class="search-car">
      <form class="form-search-car" action="/">
        <select  name="tipo" id="tipo">
          <option value="">Pick-up</option>
          <option value="">Sedan</option>
          <option value="">Suv</option>
          <option value="">Coupe</option>
          <option value="">Camion</option>
        </select>
        <select name="marca" id="marca">
          <option value="">Ford</option>
          <option value="">Peugeot</option>
          <option value="">Nissan</option>
          <option value="">Volswagen</option>
          <option value="">Fiat</option>
        </select>
        <select name="modelo" id="modelo">
          <option value="">modelo1</option>
          <option value="">modelo2</option>
          <option value="">modelo3</option>
          <option value="">modelo4</option>
          <option value="">modelo5</option>
        </select>

        <div>
          <button class="button-filter" type="/">
            Buscar
          </button>
        </div>
      </form>
    </section>

    <section class="buy_with_us">
      <h3>¿Por que comprar con nosotros?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, optio. Quas aliquam quisquam ipsum repudiandae, quis perspiciatis aspernatur sed possimus, laudantium iste voluptatem accusamus atque architecto voluptate eum molestiae odit?</p>
      <a href="#">Nosotros</a>
    </section>

    <section class="sell_with_us">
      <h3>¿Queres vender tu auto?</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam nobis quod exercitationem illum saepe dolore provident aperiam? Consectetur numquam sunt, eveniet, molestias veniam cum impedit debitis illum laborum, quia asperiores.</p>
      <img src="https://cdn.discordapp.com/attachments/1055959601633308705/1063921982762123396/Volkswagen.png" alt="">
      <button>
        <a href="tel:">Contactanos</a>
      </button>
    </section>

   

<!-- <section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
        
      <div class="carousel__snapper">
        
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section> -->

    </main>

    <footer>
      <div class="container-social-media">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>

        <a href="https://www.youtube.com/" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>

      <nav class="nav-footer">
        <ul>
          <li><a href="#">ofertas</a></li>
          <li><a href="#">tiendas oficiales</a></li>
          <li><a href="#">vender</a></li>
          <li><a href="#">ayuda</a></li>
        </ul>
      </nav>

      <div class="bookmark"></div>

      <div class="terminos-y-condiciones">
        <p id="rights-reserved">
            © 2022 Auto Online S.A. 
            Todos los derechos reservados.
        </p>

        <p>
            <a href="#">Políticas de Privacidad</a>
        </p>
        
        <p>
            <a href="#">Términos y Condiciones </a>
        </p>
        
        <p >
            LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de
            Control de la Ley N° 25.326, tiene la atribución de atender las denuncias
            y reclamos que interpongan quienes resulten afectados en sus derechos por
            incumplimiento de las normas vigentes en materia de protección de datos
            personales.
        </p>
      </div>

      <div class="logo">
        <img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" />
      </div>
    </footer>
  </body>
</html>
