<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

      <div class="logo">
        <img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" />
        <p>Eleanor Cars</p>
      </div>

      <nav class="nav_header">
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Comprar</a></li>
          <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-user-tie"></i></a></li>
        </ul>
      </nav>

    </header>

    <main>
      <section class="product_detail">
        <h2>Nombre producto</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur asperiores laboriosam, iste exercitationem voluptate.
          Culpa, laboriosam impedit. Magnam rem eligendi facilis dolorem
          cupiditate iste veritatis accusantium vel vitae molestias!
        </p>

        <div id="carrucel_detail">
    
          <div class="item_carrucel_detail" id="product_detail_1">

            <div class="card_carrucel_detail">
              IMAGEN A
            </div>

            <div class="carrucel_navegation">
              <a href="#product_detail_3">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
          
          <div class="item_carrucel_detail" id="product_detail_2">
  
            <div class="card_carrucel_detail">
              IMAGEN B
            </div>
  
            <div class="carrucel_navegation">
              <a href="#product_detail_1">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>

          <div class="item_carrucel_detail" id="product_detail_3">
  
            <div class="card_carrucel_detail">
              IMAGEN C
            </div>
  
            <div class="carrucel_navegation">
              <a href="#product_detail_2">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_1">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        </div>
        

        <div class="price">$5.000.000</div>
        <button class="reserve">Realizar reserva</button>

      </section>

      <!-- <section class="specification-detail">
        <div style="border: solid 1px">
          <h3 style="border: solid 1px">Especificaciones</h3>
          <table>
            <tr>
              <td class="details">marca</td>
              <td class="data">ford</td>
            </tr>
            <tr>
              <td class="details">modelo</td>
              <td class="data">mustang</td>
            </tr>
            <tr>
              <td class="details">año</td>
              <td class="data">2020</td>
            </tr>
            <tr>
              <td class="details">color</td>
              <td class="data">gris</td>
            </tr>
            <tr>
              <td class="details">puertas</td>
              <td class="data">2</td>
            </tr>
          </table>
        </div>
        <div class="show-more">
          <button class="search-details">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </section>-->

      <section class="recomendations">
        <h3>Autos similares</h3>
        
        <div id="carrucel_recomendations">
      
          <div id="item_carrucel_1" class="item_carrucel">
            <div class="tarjeta_carrucel">
              <div class="container_img"></div>
              <h4>Modelo</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatem ad ducimus consequatur consectetur expedita odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore repellat saepe repellendus neque exercitationem quasi laudantium error! Fugiat corporis excepturi aliquid! Saepe totam officia, excepturi dignissimos distinctio delectus illo magni.
              </p>
            </div>
  
            <div class="container_flechas_carrucel">
              <a href="#item_carrucel_3">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#item_carrucel_2">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        
          <div id="item_carrucel_2" class="item_carrucel">
            <div class="tarjeta_carrucel">
              B
            </div>
  
            <div class="container_flechas_carrucel">
              <a href="#item_carrucel_1">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#item_carrucel_3">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        
          <div id="item_carrucel_3" class="item_carrucel">
            <div class="tarjeta_carrucel">
              C
            </div>
  
            <div class="container_flechas_carrucel">
              <a href="#item_carrucel_2">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#item_carrucel_1">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
  
        </div>
      
      </section>

    </main>

    <footer>
      <div class="container-social-media">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>

        <a href="https://www.youtube.com/" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>

      <nav class="nav-footer">
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Comprar</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </nav>

      <div class="bookmark"></div>

      <div class="terminos-y-condiciones">
        <p id="rights-reserved">
            © 2022 Auto Online S.A. 
            Todos los derechos reservados.
        </p>

        <p>
            <a href="#">Políticas de Privacidad</a>
        </p>
        
        <p>
            <a href="#">Términos y Condiciones </a>
        </p>
        
        <p >
            LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de
            Control de la Ley N° 25.326, tiene la atribución de atender las denuncias
            y reclamos que interpongan quienes resulten afectados en sus derechos por
            incumplimiento de las normas vigentes en materia de protección de datos
            personales.
        </p>
      </div>

      <div class="logo">
        <img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" />
      </div>
    </footer>
  </body>
</html>
