<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

      <div class="logo">
        <img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" />
        <p>Eleanor Cars</p>
      </div>
    </header>

    <main>
      <section class="product-detail">
        <h2>Producto</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          aspernatur asperiores laboriosam, iste exercitationem voluptate.
          Culpa, laboriosam impedit. Magnam rem eligendi facilis dolorem
          cupiditate iste veritatis accusantium vel vitae molestias!
        </p>
        <div class="carrusel">
          <p>carrusel ejemplo</p>
        </div>
        <div class="previews">
          <div class="arrow"><i class="fa-solid fa-arrow-left"></i></div>
          <div class="div-previews"></div>
          <div class="div-previews"></div>
          <div class="div-previews"></div>
          <div class="arrow"><i class="fa-solid fa-arrow-right"></i></div>
        </div>

          <div class="price">$5000000</div>
          <button class="reserve">Realizar reserva</button>


      </section>

      <section class="specification-detail">
        <div style="border: solid 1px">
          <h3 style="border: solid 1px">Especificaciones</h3>
          <table>
            <tr>
              <td class="details">marca</td>
              <td class="data">ford</td>
            </tr>
            <tr>
              <td class="details">modelo</td>
              <td class="data">mustang</td>
            </tr>
            <tr>
              <td class="details">año</td>
              <td class="data">2020</td>
            </tr>
            <tr>
              <td class="details">color</td>
              <td class="data">gris</td>
            </tr>
            <tr>
              <td class="details">puertas</td>
              <td class="data">2</td>
            </tr>
          </table>
        </div>
        <div class="show-more">
          <button class="search-details">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </section>
      <section class="carrusel-detail">
        <h3>Autos Similares</h3>
        <div class="carrusel">
          <p>carrusel ejemplo</p>
        </div>
      </section>
    </main>

    <footer>
      <div class="container-social-media">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>

        <a href="https://www.youtube.com/" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>

      <nav class="nav-footer">
        <ul>
          <li><a href="#">ofertas</a></li>
          <li><a href="#">tiendas oficiales</a></li>
          <li><a href="#">vender</a></li>
          <li><a href="#">ayuda</a></li>
        </ul>
      </nav>

      <div class="bookmark"></div>

      <div class="terminos-y-condiciones">
        <p id="rights-reserved">
          © 2022 Auto Online S.A. Todos los derechos reservados.
        </p>

        <p>
          <a href="#">Políticas de Privacidad</a>
        </p>

        <p>
          <a href="#">Términos y Condiciones </a>
        </p>

        <p>
          LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de
          Órgano de Control de la Ley N° 25.326, tiene la atribución de atender
          las denuncias y reclamos que interpongan quienes resulten afectados en
          sus derechos por incumplimiento de las normas vigentes en materia de
          protección de datos personales.
        </p>
      </div>

      <div class="logo">
        <img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" />
      </div>
    </footer>
  </body>
</html>
