/* -----------------------------------MAIN--------------------------------------- */


.search-car{
    text-align: center;
    padding: 30px 10px;
    background-image: url('https://images.pexels.com/photos/7395207/pexels-photo-7395207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-position: center;
    border-bottom: #222831 double 10px;
    margin-top: 0px;
  }
  
  
  .search-car p{
    padding: 20px 20px;
    color: #DBDBDB;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #2228319f;
    border-radius: 20px;
  }
  
  .form-search-car{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  }
  
  main form select, 
  .button-filter{
      border: solid 2px #212016;
      color: #212016;
      font-size: 18px;
      background-color: unset;
      color: white;
      font-weight: 700;
      transition: background-color 400ms;
  } 
  
  
  
  main form select:hover{
      background-color: #222831e9;
  }
  
  main form select{
      margin-bottom: 15px;
      width: 60vw;
      max-width: 350px;
      margin: 10px auto 10px;
      text-align: center;
      min-height: 35px;
      padding: 10px;
      border-radius: 10px;
      border: #0091ca9b solid 3px;
      background-color: #2228319b;
  }
  
  main form select option{
      background-color: #0092CA;
      /* transition: display 50px; */
  }
  
  .button-filter:hover{
      background-color: #0091cab8;
  }
  
  .button-filter{
      height: 35px;
      width: 35vw;
      max-width: 200px;
      border-radius: 10px;
      border: #222831 solid 3px;
      background-color: #0091ca9b;
  }
    
    .recomendations{
        background-color: #222831;
        padding: 15px;
        margin-bottom: 100px
    }

    .recomendations h3{
        color: #EEEEEE;
        text-align: center;
    }

    
    .buy_with_us{
        padding: 20px;
        display: flex;
        align-items: start;
        flex-direction: column;
        background-color: #393E46;
        color: #EEEEEE;
        margin-bottom: 100px
    }
    
    .buy_with_us h3{
        font-style:normal;
        font-weight: 700;
        font-size: 31px;
        width: 55%;
        /* text-align: center;
        margin-top: 20px; */
    }
    
    .bwu_description_container {
        width: 70%;
        text-align: center;
        align-self: flex-end;
        font-weight: 400;
    }
    
    
    .buy_with_us a {
        color: #212016;
    cursor: pointer;
    text-decoration: underline;
    color: #0092CA;
}

.sell_with_us {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swu_container p {
    font-size: 17px;
    margin: 5px 10px 0;
}

.swu_container button {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #517c8d;
    padding: 3px;
    border-radius: 4px;
}

.sell_with_us img{
    height: auto;
    width: 150px;
    filter: grayscale(0.8);
}

.banner-carretera {
    display: none;
}

/* --------------------VISTA LAPTOP------------------------ */

@media (min-width: 768px){
    
    .search-car p
    {
        font-size: 20px;
    }

    .search-car{
        background-image: url('https://images.pexels.com/photos/13756523/pexels-photo-13756523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }

    main form select{
        max-width: 70%;
    }   
    
    .button-filter{
        height: 45px;
    }

    .recomendations h3 {
        
        font-size: 40px;
    }

    .sell_with_us {
        flex-direction: row;
    }
}

@media (min-width: 1024px){

    .search-car{
        /* background-image: url(https://images.pexels.com/photos/13756521/pexels-photo-13756521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
        /* background-image: url(../images/shelby.jpg); */

        background-position: center 60%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: slider-animation 24s infinite;
        animation-timing-function: ease-in-out
    }

    @keyframes slider-animation {
        0%, 100% {
            opacity: 1;
        }
        0% {
            background-image: url(../images/mustangshelby.jpg);
        }
        33% {
          background-image: url(../images/mustangestirado.jpg);
        }
        55% {
          background-image: url(../images/mustangs.jpg);
        }
        75% {
            background-image: url(../images/shelby.jpg);
        }
        100% {
            background-image: url(../images/mustangshelby.jpg);
        }
      }

    .form-search-car{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 20px 5vh;
    }

    
    main form select, .button-filter{
        max-width: none;
        max-height: none;
        margin: 0;
        border-radius: 15px;
        height: 60px;
        font-size: 22px;
    }

    main form select {
        width: 23%;
    }

    .button-filter{
        width: 170px;
    }

    main section {
        width: 85vw;
        margin: 0 auto 0;
        box-shadow: 0 0 29px 4px #5c5e60c8;
    }

    .banner-primera-plana{
        display: block;
        height: 300px;
        border-top: #222831 double 10px;
        border-bottom: #222831 double 10px;
        background-image: url('/images/flota-de-autos.jpg');
        background-position: center;
        background-size: cover;
    }

    .banner-carretera{
        display: block;
        height: 50vh;
        border-top: #EEEEEE double 10px;
        border-bottom: #222831 double 10px;
        background-image: url('/images/mustang-carretera.jpg');
        background-position: center;
        background-size: cover;
        margin-bottom: 0px;
    }
}