.notFound{
    padding: 6% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.notFound h1{
    font-size: 43px;
    text-align: center;
    color: #EEEEEE;
    background-color: #0091cab5;
    border-radius: 6px;
    padding: 10px;
}

@media(min-width: 768px){
    .notFound h1{
        font-size: 53px;
        padding: 30px;
    }
}