/*COLORES 
1) #5C5E60
2) #6B6E70
3) #A4A4A4
4) #DBDBDB
5) #D2D2D2
6) #212016

7) PEPER GRAY #8C8B89
*/

main{
    padding-bottom: 25px;
}

.product_detail{
    color:#EEEEEE;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}

.title_product{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title_product h2{
    /* color: #6b6e70; */
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
}

.product_modify_delete{
    display: flex;
}

.product_modify_delete form{
    margin: 4px;
}

.product_modify_delete i:hover{
    padding: 5px;
    background-color: #222831;
    color: #607d8b;
    border-radius: 5px;
}

.product_modify_delete i{
    /* color: #6b6e70; */
    transition: all 300ms;
}

.product_detail p{
    padding: 0 40px;
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    /* color: #A4A4A4; */
}

/* -------CARRUCEL DETAIL -------- */

#carrucel_detail{
    width:  90%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.item_carrucel_detail{
    height: 100%;
    display: flex;
    flex-direction:column;
}

.card_carrucel_detail, .preview{
    /* border: 2px solid #EEEEEE; */
    border-radius: 5%;
}

.card_carrucel_detail{
    max-height: 240px;
    width: 100%;
    max-width: fit-content;
    margin-bottom: 10px;
    color: white;
    align-self: center;
}

.carrucel_navegation{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.carrucel_navegation a {
    font-size:35px;
    color: black;
}

.preview{
    background-color: aliceblue;
    height: 45px;
    width: 20vw;
    max-width: 100px;
    margin-top: 5px;
}

/* -------CARRUCEL DETAIL -------- */

.div-previews{
    height:30px;
    width: 60px;
    border:solid 1px;
}

.price{
    border:solid 1px;
    width: min-content;
    padding: 15px 50px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.reserve{
    margin: auto;
    display: block;
    margin-top: 15px;
    border-radius: 8px;
    padding: 8px 25px;
}


/* ---- TABLAS ESPECIFICACIONES ---- */

.specification_detail{
    padding: 20px;
    max-width:none;
    width: 100%;
}

.specifications_container, .especification{
    border-radius: 6px;
}

.specifications_drop_down{
    position: relative;
    height: fit-content;
}

#drop_down {
    display: none;
}

#drop_down:checked + div{
    overflow:visible;
    height: fit-content;
}

.specifications_container{
    background-color: #00000052;
    /* box-shadow: 0 0 20px 10px white; */
    padding: 6px;
    max-width: 900px;
    height: 240px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.especification{
    min-width: 240px;
    flex-grow: 1;
    margin: 10px;
}

.especification h4{
    font-size: 23px;
    text-align: center;
    border-bottom: solid 3px  #222831;
    color: #bdbdbd;
}

.table_container{
    padding: 5px;
}

.especification table{
    border: unset;
    border-radius: 20px;
    width: 100%;
    border-collapse: collapse;
}

.especification table tr{
    height: 30px;
}

.details, .data{
    font-size: 18px;
    color: #bdbdbd;
}

.details{
    font-weight: bold;
    
    padding-left: 10px;
}

.data{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    
}

.search-details{
    height:30px;
    width: 30px; 
}

.show-more:hover{
    background-color: #222831;
    color: #393E46;
}

.show-more:active{
    background-color: #222831;
    color: #393E46;
    opacity: 0.7;
}

.show-more{
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: solid 3px #6b6e70;
    background-color: #0092CA;
    font-size: 25px;
    color: white;
    transition: all 250ms;
}


.recomendations {
    padding: 15px;
}

.recomendations > div {
    max-width: 1100px;
    margin: auto;
}

.recomendations h3 {
    color: #222831;
}

/* --------------------VISTA LAPTOP------------------------ */

@media (min-width: 768px){
    .title_product h2{
        font-size: 40px;
    }

    .title_product i{
        font-size: large;
    }
    
    .product_detail p{
        font-size: 16px;
    }

    .especification{
        min-width: 330px;
    }

    .especification h4{
        font-size: 25px;
    }

    .details, .data{
        font-size: 20px;
    }

}

/* --------------------VISTA DESKTOP------------------------ */
@media (min-width: 1024px){
    .product_detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2fr, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .descripcion { grid-area: 1 / 2 / 2 / 3; }
    .images_detail { grid-area: 1 / 1 / 3 / 2; }
    .products_tags { 
        grid-area: 2 / 2 / 3 / 3; 
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .product_detail h2{
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }
    
    .product_detail p{
        padding: 0 40px;
        text-align: justify;
        margin: 20px 0 0;
    }
}