main {
  padding: 20px;
}
.edit-modify {
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* aling item => alinea eje y */
/* justify content => alinea eje x */
/* segun si la direccion sobre tipo de eje que tengan(flex direction) */
main {
  background-image: linear-gradient( 
    0deg, 
    #222831 2%, 
    #393E46 10%, 
    #607d8b 35%, 
    #0092CA 70% 
    )
}

.car-id {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.div-edit-modify {
  display: flex;
  width: 50%;
  padding: 15px;
  align-items: center;
}
.form-edit-modify {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: baseline;
  flex-direction: column;
  border-radius: 8px;
  line-height: 30px;
  padding: 20px;
  box-shadow: 0 0px 20px 4px #5c5e60c8;
  background: rgb(255, 255, 255, 0.6);
}

img {
  width: 100%;
  height: min-content;
  border-radius: 10px
}
.textarea {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #607d8b
}

.aply-changes,
.dischard-changes {
  align-self: center;
  margin-top: 10px;
  height: 30px;
  border-radius: 8px;
}
/* main input {
  border-radius: 8px;
  width: 100%;
} */
main .form-edit-modify label
{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  /* color: #607d8b; */
  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
}

main .form-edit-modify .input-box,
main .form-edit-modify .input-submit
{
margin-bottom: 20px;
}

main .form-edit-modify .input-box
{
  width: 100%;
  /* padding: 10px 20px; */
  outline: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  /* color: #607d8b; */
  color: #000;
  background: transparent;
}

main .form-edit-modify .input-submit
{
  width: 100%;
  /* padding: 10px 20px; */
  outline: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  /* color: #607d8b; */
  color: #000;
  background: transparent;
  text-align: center;
}

main .form-edit-modify .input-box input,
main .form-edit-modify .input-box select
{
  width: 100%;
  padding: 10px 20px;
  /* border: 1px solid #607d8b; */
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  background: transparent;
  /* color: #607d8b; */
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.5s all ease;
}

main .form-edit-modify .input-submit input
{
  width: 100%;
  padding: 10px 20px;
  /* border: 1px solid #607d8b; */
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  background: transparent;
  /* color: #607d8b; */
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  width: 50%;
}

main .form-edit-modify .input-box input:focus
{
  /* border-color: #0092CA; */
  border-color: transparent;
  background-color: #f5f1f1
}

main .form-edit-modify .input-submit input[type="submit"]
{
  background: #0092CA;
  color: #000;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;
}

main .form-edit-modify .input-submit input[type="reset"]
{
  background: #0092CA;
  color: #000;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;
}

main .form-edit-modify .input-submit input:hover
{
  background: #357de0; 
  color: #fff;
}

.content-box form{
  width: 100%;
}

main .edit-modify .content-box .input-box button{
  width: 8%;
}
main .edit-modify .content-box .input-box button + input[type = "text"]{
  margin-top: 10px;
  width: 90%;
} 


@media (max-width: 768px){
.edit-modify{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-edit-modify{
  width: 100%;
}
.textarea{
  width: 100%;
}

.edit-modify .div-edit-modify {
  width: 100%;
}

}