.div-cars-cart{
    margin: 10vw;
width: 80vw;
height: 150px;
border:solid 1px;
position: relative;
padding: 10px;
}
.div-cars-cart-img{
    margin: auto;
    border-radius: 8px;
    border:solid 1px;
height: 100px;
}

.div-cars-cart-p{
    text-align: center;
margin-top: 40px;
}
main section h2{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
}
.car-data-container{
    display: flex;
    justify-content: space-between;
}
.fa-heart{
    color: red;
}
.car-search-error{
    text-align: center;
    
}
.car-search-button{
    margin-top: 10px;
    height: 30px;
    width: 120px;
}

@media (min-width: 768px){
    header{
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    .burguer-menu {
        display: none;
    }

    .nav_header{
        display: flex;
        align-self: flex-end;
    }

    .nav_header ul {
        display: flex;
    }

    .nav_header ul li{
        margin-right: 25px;
    }
    .car-data-container{
        width: 40%;
    }
    .div-cars-cart{
        display: flex;
        height: 100px;
    }
    .div-cars-cart-img{
        margin-left: 0px;
        margin-right: 10px;
        height: 80%;
        width: 30%;
    }
    .car-data1{
        margin: auto;
        margin-right: auto;
    }
    .car-data2{
        width: 100%;
        margin: auto;
        margin-left: 100%;
    }
}