*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* PRUEBA HEADER */

/* PRUEBA HEADER */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .img-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
section .img-container:before
{
   content: ''; 
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(225deg, #0d0d0de7, #464747);
   z-index: 1;
   mix-blend-mode: screen;
}
section .img-container img
{
   position: absolute;
   top: 0;
   left: 0; 
   width: 100%;
   height: 100%;
   object-fit: cover;
}
section .content-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
   
}
section .content-box .form
{
    width: 100%;
    padding: 40px;
    background: rgb(255 255 255 / 0.9);
    margin: 50px;
    border-radius: 20px;
   
}
section .content-box .form h2
{
    color: #607d8b;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 4px solid #4593ff;
    display: inline-block;
    letter-spacing: 1px;
}
section .content-box .form .input-box
{
    margin-bottom: 20px;
}
section .content-box .form .input-box span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}
section .content-box .form .input-box input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
section .content-box .form .input-box input:focus
{
    border-color: #459fff;
}
section .content-box .form .input-box input[type="submit"]
{
    background: #459fff;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .content-box .form .input-box input[type="submit"]:hover
{
    background: #4593ff;
}
section .content-box .form .remember
{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
section .content-box .form .input-box p
{
    color: #607d8b;
}
section .content-box .form .input-box p a 
{
    color: #4593ff;
}
section .content-box .form .input-box .back-home
{
    display: none;
}

@media (min-width: 769px)
{
    section .img-container 
    {
        position: relative;
        width: 50%;
        height: 100%;
    }
    section .content-box 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;   
    }
    section .content-box .form 
    {
        width: 100%; 
    }
    
}

@media (min-width: 1439px)
{
    section .content-box .form
    {
        width: 50%;
    }
    section .content-box .form .input-box .back-home
    {
        display: block;
        margin-top: 5px;
    }
    section .content-box .form
    {
        padding: 30px;
    }
}