/*COLORES 
1) #5C5E60
2) #6B6E70
3) #A4A4A4
4) #DBDBDB
5) #D2D2D2
6) #212016

7) PEPER GRAY #8C8B89
//2do try

Fuentes/Fondo: #222831
Fondo: #393E46
Detalles: #0092CA
Fuentes/Fondo: #EEEEEE
Fuente Login y Register: #607d8b

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 11px;
}
  
body::-webkit-scrollbar-track {
    background: #222831;        
}

body::-webkit-scrollbar-thumb {
    background-color: #0092CA;    /* color of the scroll thumb */
    border-radius: 20px;
    border: 3px solid #222831;
}

header, footer {
    background-color: #222831;
    color: #EEEEEE;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

a:visited {
    color: #EEEEEE;
}
 
h3{
    font-size: 32px;
}

h4{
    font-size: 26px;
}

/* -----------------------------------HEADER--------------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90px;
    background-color: #393E46;
    /* background: linear-gradient(180deg, #0d0d0d, #2d597ee0); */
    background: linear-gradient(180deg, #22283159, #222831);
    
}


.burguer-menu {
    position: absolute;
    text-align: center;
    left: 20px;
}

.fa-bars{
    font-size: 37px;
    padding: 5px;
    color: #222831;
    background-color: #EEEEEE;
    border-radius: 8px;
    border: solid 2px #222831;
}

.logo {
    text-align: center;
    color: #EEEEEE;
}

.logo img{
    height: 45px;
    width: 80px;
}

.logo p {
    line-height: 0px;
    font-weight: 400;
}

.nav_header{
    display: none;
}

/* -----------------------------------carrusel--------------------------------------- */


#carrucel_recomendations{
    width: 100%;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 30px;
}

.item_carrucel{ 
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    position: relative;
}

.tarjeta_carrucel, .container_flechas_carrucel {
    width: 100%;
    height: 100%;
}

.container_flechas_carrucel {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_flechas_carrucel i {
    font-size: 40px;
    width: 40px;
    text-align: center;
    margin: 20px;
    background-color: #5C5E60;
    color: #DBDBDB;
    border-radius: 50%;
}

.tarjeta_carrucel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container_img{
    border: #212016 solid 3px;
    width: 60%;
    min-width: 150px;
    min-height: 100px;
}

.tarjeta_carrucel h4 {
    text-align: left;
    margin-top: 10px;
}

.tarjeta_carrucel p{
    width: 60%;
    min-width: 150px;
    text-align: justify;
    overflow: hidden;
}

/* -----------------------------------carrusel--------------------------------------- */



/* -----------------------------------FOOTER--------------------------------------- */
footer {
    padding: 10px 10px 10px 10px;
}

.container-social-media{
    padding-top: 10px;
    text-align: center;
    font-size:x-large;
}

.container-social-media a{
    margin: 10px;
}

.bookmark{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 1px;
    background-color: #EEEEEE;
}

.nav-footer {
    margin-top: 20px;
}

.nav-footer ul{
    display: flex;
    justify-content: space-around;
}

.nav-footer ul li a:hover {
    font-weight: 700;
}

.terminos-y-condiciones{
    font-size: smaller;
}

.terminos-y-condiciones p {
    margin-bottom: 15px;
    text-align:justify;
}

#rights-reserved {
    text-align: center;
}


/* --------------------VISTA TABLET------------------------ */
@media (min-width: 768px){
    header
    {
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        
    }

    .burguer-menu 
    {
        display: none;
    }

    .nav_header
    {
        display: flex;
        align-self: flex-end;
    }

    .nav_header ul 
    {
        display: flex;
    }

    .nav_header ul li
    {
        margin-right: 25px; 
    }


    /* ---------CARRUCEL------------ */
    
    #carrucel_recomendations{
        width: 80%;
        box-shadow: 0 0 10px 10px #5c5e60c8 ;
    }

    .container_img {
        width: 70%;
    }

    .tarjeta_carrucel p {
        width: 80%;
    }
}

/* --------------------VISTA DESKTOP------------------------ */
@media (min-width: 1024px){
    .logo img,
    .nav_header ul li a
    {
        transition: all 0.3s ease;
        
    }
    .logo img:hover
    {
        height: 50px;
        width: 85px;
        background: transparent;
        
    }

    .nav_header ul li a:hover
    {
        padding: 3px 6px;
        background: rgb(43, 43, 43);
        border-radius: 10px;
    }
}