/*COLORES 
1) #5C5E60
2) #6B6E70
3) #A4A4A4
4) #DBDBDB
5) #D2D2D2
6) #212016

7) PEPER GRAY #8C8B89
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #5C5E60;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

/* -----------------------------------HEADER--------------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90px;
}

main {
    /* height: 1200px; */
    background-color: white;
    padding: 10px 0 10px;
}

.burguer-menu {
    position: absolute;
    text-align: center;
    left: 20px;
}

.fa-bars{
    font-size: 37px;
    padding: 5px;
    color: #212016;
    background-color: #DBDBDB;
    border-radius: 8px;
    border: solid 2px #212016;
}

.logo {
    text-align: center;
}

.logo img{
    height: 45px;
    width: 55px;
}

.logo p {
    line-height: 0px;
    font-weight: 400;
    font-style: italic;
}

.nav_header{
    display: none;
}

/* -----------------------------------MAIN--------------------------------------- */

.publicity{
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  background-color: #D2D2D2;
}

.publicity div {
    background-color: beige;
    width: min-content;
    margin: auto;
    border-radius: 20px 0 20px 0;
}

.publicity img{
  height: auto;
  border: solid #212016 2px;
  border-radius: 20px 0 20px 0;
  width: 80vw;
  max-width: 460px;
}

.publicity p {
    padding: 5px;
    margin: auto;
    font-size: 16px;
}

.search-car{
  text-align: center;
}

.form-search-car{
display: flex;
flex-direction: column;
padding-top: 20px;
padding-bottom: 20px;
}

main form select, 
.button-filter{
    border: solid 2px #212016;
    color: #212016;
    font-size: 18px;
} 

main form select{
    margin-bottom: 15px;
    width: 60vw;
    max-width: 350px;
    margin: 10px auto 10px;
    text-align: center;
    border-radius: 5px;
    min-height: 35px;
    height: 5vh;
    max-height: 50px;
}

.button-filter{
    border-radius: 5px;
    height: 35px;
    width: 35vw;
    max-width: 200px;
}

.buy_with_us{
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    background: linear-gradient(110deg,#7ea298,white);
}

.buy_with_us h3{
    font-style: italic;
    font-weight: 700;
    font-size: 31px;
    width: 55%;
  /* text-align: center;
  margin-top: 20px; */
}

.bwu_description_container {
    width: 70%;
    text-align: center;
    align-self: flex-end;
    font-weight: 400;
    font-style: italic;
}


.buy_with_us a {
  color: #212016;
  cursor: pointer;
  text-decoration: underline;
}

.sell_with_us {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swu_container p {
    font-size: 17px;
    margin: 5px 10px 0;
}

.swu_container button {
  display: block;
  margin: 10px auto;
  border: none;padding: 3px;
  border-radius: 4px;
}

.sell_with_us img{
  height: auto;
  width: 150px;
}
/* -----------------------------------carrusel--------------------------------------- */

.recomendations{
    padding: 15px;
}

#contenedor_carrucel{
    width: 100%;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 30px;
}

.item_carrucel{ 
    width: 100%;
    height: 100%;
    background-color: #7ea298;
    position: relative;
}

.tarjeta_carrucel, .container_flechas_carrucel {
    width: 100%;
    height: 100%;
}

.container_flechas_carrucel {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_flechas_carrucel i {
    font-size: 40px;
    width: 40px;
    text-align: center;
    margin: 20px;
    background-color: #5C5E60;
    color: #DBDBDB;
    border-radius: 50%;
}

.tarjeta_carrucel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container_img{
    border: #212016 solid 3px;
    width: 60%;
    min-width: 150px;
    min-height: 100px;
}

.tarjeta_carrucel h4 {
    text-align: left;
    margin-top: 10px;
}

.tarjeta_carrucel p{
    width: 60%;
    min-width: 150px;
    text-align: justify;
    overflow: hidden;
}

/* -----------------------------------carrusel--------------------------------------- */

/* -----------------------------------FOOTER--------------------------------------- */
footer {
    padding: 10px 10px 10px 10px;
}

.container-social-media{
    padding-top: 10px;
    text-align: center;
    font-size:x-large;
}

.container-social-media a{
    margin: 10px;
}

.bookmark{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 1px;
    background-color: black;
}

.nav-footer {
    margin-top: 20px;
}

.nav-footer ul{
    display: flex;
    justify-content: space-around;
}

.nav-footer ul li a:hover {
    font-weight: 700;
}

.terminos-y-condiciones{
    font-size: smaller;
}

.terminos-y-condiciones p {
    margin-bottom: 15px;
    text-align:justify;
}


/* --------------------VISTA TABLET------------------------ */
@media (min-width: 768px){
    header{
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    .burguer-menu {
        display: none;
    }

    .nav_header{
        display: flex;
        align-self: flex-end;
    }

    .nav_header ul {
        display: flex;
    }

    .nav_header ul li{
        margin-right: 25px;
    }

    /* ---------MAIN---------- */
    .publicity div{
        display: flex;
    }

    .publicity div{
        width: 90%;
    }

    .publicity img{
        max-width: 65%;
    }
    
    main form select{
        height: 80px;
        max-width: 70%;
    }
    
    .button-filter{
        height: 45px;
    }
    
    /* ---------CARRUCEL------------ */
    
    #contenedor_carrucel{
        width: 80%;
        box-shadow: 0 0 10px 10px #5c5e60c8 ;
    }

    .container_img {
        width: 70%;
    }

    .tarjeta_carrucel p {
        width: 80%;
    }

    .sell_with_us {
        flex-direction: row;
    }
}

/* --------------------VISTA DESKTOP------------------------ */
@media (min-width: 1024px){
    header{
        padding: 0 15vw 5px;
    }

    .publicity img{
        max-height: 320px;
    }

    .form-search-car{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15vh 20px 15vh;
    }

    main form select, .button-filter{
        max-width: none;
        max-height: none;
        margin: 0;
        border-radius: 15px;
        height: 60px;
        font-size: 22px;
    }

    main form select {
        width: 23%;
    }

    .button-filter{
        width: 170px;

    }

    main section {
        width: 1024px;
        margin: auto !important;
    }
}