<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/index.css">

    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
    
  </head>

  <body>

  <%- include("./partials/header") %> 
    

    <main>      
      <section class="search-car">

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente nesciunt dolores voluptatum dicta, facere nisi quia exercitationem voluptate consequuntur, obcaecati odio debitis illo fuga necessitatibus eligendi inventore ad iure quo.</p>
      
      <form class="form-search-car" action="/">

        <select  name="tipo" id="tipo">
          <option value="Pick-up">Pick-up</option>
          <option value="Sedan">Sedan</option>
          <option value="Suv">Suv</option>
          <option value="Coupe">Coupe</option>
          <option value="Camion">Camion</option>
        </select>
        
        <select name="marca" id="marca">
          <option value="Ford">Ford</option>
          <option value="Peugeot">Peugeot</option>
          <option value="Nissan">Nissan</option>
          <option value="Volswagen">Volswagen</option>
          <option value="Fiat">Fiat</option>
        </select>

        <select name="modelo" id="modelo">
          <option value="modelo1">modelo1</option>
          <option value="modelo2">modelo2</option>
          <option value="modelo3">modelo3</option>
          <option value="modelo4">modelo4</option>
          <option value="modelo5">modelo5</option>
        </select>

        <div>
          <button class="button-filter" type="/">
            Buscar
          </button>
        </div>
      </form>
    </section>

    <section class="recomendations">
      <h3>Nuestros recomendados</h3>
      <%- include('partials/carrucel') %> 
    </section>


    <section class="banner-primera-plana"></section>

    <section class="buy_with_us">
      <h3>¿Por que comprar con nosotros?</h3>
      <div class="bwu_description_container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, optio. Quas aliquam quisquam ipsum repudiandae, quis perspiciatis aspernatur sed possimus, laudantium iste voluptatem accusamus atque architecto voluptate eum molestiae odit?</p>
        <a href="#">Nosotros</a>
      </div>
    </section>
    
    
    <section class="sell_with_us">
      <div class="swu_container">
        <h4>¿Queres vender tu auto?</h4>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam nobis quod exercitationem illum saepe dolore provident aperiam? Consectetur numquam sunt, eveniet, molestias veniam cum impedit debitis illum laborum, quia asperiores.</p>

        <button>
          <a href="tel:+">Contactanos</a>
        </button>
      </div>

      <img src="https://lh3.googleusercontent.com/ESDr-glwzmLrtw4f6tt5uR98KIVCxptlKYH5BeEf-tAHMZYQUwpXONGhJ_B1Ty8TzQYRRGYqce3Z7gmUEh5lOwLAdAd3vna47K9oHA" alt="imagen candado, venta segura">
    </section>

    <section class="banner-carretera"></section>

    </main>
      
    <%- include("./partials/footer") %> 

  </body>
</html>
