<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles.css"/>

    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>

  <%- include("./partials/header") %> 
    

    <main>
      <section class="publicity">
        <div>
          <div>
            <img src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_3c0b3a3bb5da42bcbe970a9be1abac9f.jpg" alt="imagen publicitaria">
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente nesciunt dolores voluptatum dicta, facere nisi quia exercitationem voluptate consequuntur, obcaecati odio debitis illo fuga necessitatibus eligendi inventore ad iure quo.</p>
        </div>
      </section>

    <section class="search-car">
      <form class="form-search-car" action="/">

        <select  name="tipo" id="tipo">
          <option value="Pick-up">Pick-up</option>
          <option value="Sedan">Sedan</option>
          <option value="Suv">Suv</option>
          <option value="Coupe">Coupe</option>
          <option value="Camion">Camion</option>
        </select>
        
        <select name="marca" id="marca">
          <option value="Ford">Ford</option>
          <option value="Peugeot">Peugeot</option>
          <option value="Nissan">Nissan</option>
          <option value="Volswagen">Volswagen</option>
          <option value="Fiat">Fiat</option>
        </select>

        <select name="modelo" id="modelo">
          <option value="modelo1">modelo1</option>
          <option value="modelo2">modelo2</option>
          <option value="modelo3">modelo3</option>
          <option value="modelo4">modelo4</option>
          <option value="modelo5">modelo5</option>
        </select>

        <div>
          <button class="button-filter" type="/">
            Buscar
          </button>
        </div>
      </form>
    </section>
    
    <section class="recomendations">
      <h3>Nuestros recomendados</h3>
      
      <div id="carrucel_recomendations">
    
        <div id="item_carrucel_1" class="item_carrucel">
          <div class="tarjeta_carrucel">
            <div class="container_img"></div>
            <h4>Modelo</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatem ad ducimus consequatur consectetur expedita odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore repellat saepe repellendus neque exercitationem quasi laudantium error! Fugiat corporis excepturi aliquid! Saepe totam officia, excepturi dignissimos distinctio delectus illo magni.
            </p>
          </div>

          <div class="container_flechas_carrucel">
            <a href="#item_carrucel_3">
              <i class="fa-solid fa-caret-left"></i>
            </a>
            <a href="#item_carrucel_2">
              <i class="fa-solid fa-caret-right"></i>
            </a>
          </div>
        </div>
      
        <div id="item_carrucel_2" class="item_carrucel">
          <div class="tarjeta_carrucel">
            B
          </div>

          <div class="container_flechas_carrucel">
            <a href="#item_carrucel_1">
              <i class="fa-solid fa-caret-left"></i>
            </a>
            <a href="#item_carrucel_3">
              <i class="fa-solid fa-caret-right"></i>
            </a>
          </div>
        </div>
      
        <div id="item_carrucel_3" class="item_carrucel">
          <div class="tarjeta_carrucel">
            C
          </div>

          <div class="container_flechas_carrucel">
            <a href="#item_carrucel_2">
              <i class="fa-solid fa-caret-left"></i>
            </a>
            <a href="#item_carrucel_1">
              <i class="fa-solid fa-caret-right"></i>
            </a>
          </div>
        </div>

      </div>
    
    </section>

    <section class="buy_with_us">
      <h3>¿Por que comprar con nosotros?</h3>
      <div class="bwu_description_container">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, optio. Quas aliquam quisquam ipsum repudiandae, quis perspiciatis aspernatur sed possimus, laudantium iste voluptatem accusamus atque architecto voluptate eum molestiae odit?</p>
          <a href="#">Nosotros</a>
        </div>
      </section>
      
    <section class="sell_with_us">
      <div class="swu_container">
        <h4>¿Queres vender tu auto?</h4>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam nobis quod exercitationem illum saepe dolore provident aperiam? Consectetur numquam sunt, eveniet, molestias veniam cum impedit debitis illum laborum, quia asperiores.</p>

        <button>
          <a href="tel:">Contactanos</a>
        </button>
      </div>

      <img src="https://lh3.googleusercontent.com/ESDr-glwzmLrtw4f6tt5uR98KIVCxptlKYH5BeEf-tAHMZYQUwpXONGhJ_B1Ty8TzQYRRGYqce3Z7gmUEh5lOwLAdAd3vna47K9oHA" alt="imagen candado, venta segura">
    </section>

    </main>

  
      
    <%- include("./partials/footer") %> 

  </body>
</html>
