<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
    <title>Log In</title>
</head>
<body>

    <%- include('./partials/header') %> 
    
    <section>
        <div class="img-container">
            <img src="/images/login.jpg" alt="">
        </div>
        <div class="content-box">
            <div class="form">
                <h2>INGRESÁ</h2>
                <form action="">
                    <div class="input-box">
                        <span>Nombre de usuario</span>
                        <input type="text" name="user-name">
                    </div>
                    <div class="input-box">
                        <span>Contraseña</span>
                        <input type="password" name="password">
                    </div>
                    <div class="remember">
                        <label for=""><input type="checkbox" name=""> Recordarme</label>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Ingresar" name="">
                    </div>
                    <div class="input-box">
                        <p>¿No tenes una cuenta? <a href="/user/register">Registrate</a></p>
                        <p class="back-home">¿Olvidaste tu contraseña? <a href="/">Recuperar</a></p>
                    </div>
                </form>
                <h3 class="media-access">Ingresa con tus redes sociales</h3>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" alt=""></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><img src="/images/twitter.png" alt=""></a></li>
                    <li class=><a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.png" alt=""></a></li>
                </ul>
                
            </div>
        </div>
    </section>
</body>
</html>