<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/notFound.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>

    <title>No lo veo por ninguna parte</title>
</head>

<body>

    <%- include('partials/header') %> 

    <section class="notFound">
        <h1>Lo sentimos <br> no hemos tenido ninguna coincidencia</h1>
    </section>

    <%- include('partials/footer') %> 

</body>

</html>