<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <script
      src="https://kit.fontawesome.com/58f19d8ff4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
   
    <%- include("./partials/header") %> 

    <main>
      <section class="product_detail">
        <div class="descripcion">
          <h2>Nombre producto</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            aspernatur asperiores laboriosam, iste exercitationem voluptate.
            Culpa, laboriosam impedit. Magnam rem eligendi facilis dolorem
            cupiditate iste veritatis accusantium vel vitae molestias!
          </p>
        </div>

        <div class="images_detail" id="carrucel_detail">
    
          <div class="item_carrucel_detail" id="product_detail_1">

            <div class="card_carrucel_detail">
              IMAGEN A
            </div>

            <div class="carrucel_navegation">
              <a href="#product_detail_3">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
          
          <div class="item_carrucel_detail" id="product_detail_2">
  
            <div class="card_carrucel_detail">
              IMAGEN B
            </div>
  
            <div class="carrucel_navegation">
              <a href="#product_detail_1">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>

          <div class="item_carrucel_detail" id="product_detail_3">
  
            <div class="card_carrucel_detail">
              IMAGEN C
            </div>
  
            <div class="carrucel_navegation">
              <a href="#product_detail_2">
                <i class="fa-solid fa-caret-left"></i>
              </a>
              <a href="#product_detail_1">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_2">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_3">
                <img class="preview" src="" alt="">
              </a>
              <a href="#product_detail_1">
                <i class="fa-solid fa-caret-right"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="products_tags">
          <div class="price">$5.000.000</div>
          <button class="reserve">Realizar reserva</button>
        </div>

      </section>

      <section class="specification_detail">
        <div class="specifications_container">

          <div class="especification">
            <h4>Especificaciones 1</h4>
            <div class="table_container">
              <table>
                <tr>
                  <td class="details">Marca</td>
                  <td class="data">Ford</td>
                </tr>
                <tr>
                  <td class="details">Modelo</td>
                  <td class="data">Mustang</td>
                </tr>
                <tr>
                  <td class="details">Año</td>
                  <td class="data">2020</td>
                </tr>
                <tr>
                  <td class="details">Color</td>
                  <td class="data">Gris</td>
                </tr>
                <tr>
                  <td class="details">Puertas</td>
                  <td class="data">2</td>
                </tr>
              </table>
            </div>
          </div>
          
          <div class="especification">
            <h4>Especificaciones 2</h4>
            <div class="table_container">
              <table>
                <tr>
                  <td class="details">Marca</td>
                  <td class="data">Ford</td>
                </tr>
                <tr>
                  <td class="details">Modelo</td>
                  <td class="data">Mustang</td>
                </tr>
                <tr>
                  <td class="details">Año</td>
                  <td class="data">2020</td>
                </tr>
                <tr>
                  <td class="details">Color</td>
                  <td class="data">Gris</td>
                </tr>
                <tr>
                  <td class="details">Puertas</td>
                  <td class="data">2</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="especification">
            <h4>Especificaciones 3</h4>
            <div class="table_container">
              <table>
                <tr>
                  <td class="details">Marca</td>
                  <td class="data">Ford</td>
                </tr>
                <tr>
                  <td class="details">Modelo</td>
                  <td class="data">Mustang</td>
                </tr>
                <tr>
                  <td class="details">Año</td>
                  <td class="data">2020</td>
                </tr>
                <tr>
                  <td class="details">Color</td>
                  <td class="data">Gris</td>
                </tr>
                <tr>
                  <td class="details">Puertas</td>
                  <td class="data">2</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="show-more">
          <button class="search-details">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </section>

      <section class="recomendations">
        <div>
          <h3>Autos similares</h3>
          
          <%- include('partials/carrucel') %> 
        </div>
      </section>

    </main>

    <%- include("./partials/footer") %> 


  </body>
</html>
