/*COLORES 
1) #5C5E60
2) #6B6E70
3) #A4A4A4
4) #DBDBDB
5) #D2D2D2
6) #212016

7) PEPER GRAY #8C8B89
//2do try

Fuentes/Fondo: #222831
Fondo: #393E46
Detalles: #0092CA
Fuentes/Fondo: #EEEEEE
Fuente Login y Register: #607d8b

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 11px;
}
  
body::-webkit-scrollbar-track {
    background: #222831;        
}

body::-webkit-scrollbar-thumb {
    background-color: #0092CA;    /* color of the scroll thumb */
    border-radius: 20px;
    border: 3px solid #222831;
}

header, footer {
    background-color: #222831;
    color: #EEEEEE;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

a:visited {
    color: #EEEEEE;
}
 
h3{
    font-size: 32px;
}

h4{
    font-size: 26px;
}
/* -----------------------------------HEADER--------------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90px;
}

main {
    background-color: #EEEEEE;
}

.burguer-menu {
    position: absolute;
    text-align: center;
    left: 20px;
}

.fa-bars{
    font-size: 37px;
    padding: 5px;
    color: #222831;
    background-color: #EEEEEE;
    border-radius: 8px;
    border: solid 2px #222831;
}

.logo {
    text-align: center;
}

.logo img{
    height: 45px;
    width: 55px;
}

.logo p {
    line-height: 0px;
    font-weight: 400;
}

.nav_header{
    display: none;
}

/* -----------------------------------MAIN--------------------------------------- */


.search-car{
  text-align: center;
  padding: 30px 10px;
  background-image: url('https://images.pexels.com/photos/7395207/pexels-photo-7395207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size:cover;
  background-position: left center;
  border-bottom: #222831 double 10px;
}


.search-car p{
  padding: 20px 20px;
  color: #DBDBDB;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #2228319f;
  border-radius: 20px;
}

.form-search-car{
display: flex;
flex-direction: column;
padding-top: 20px;
padding-bottom: 20px;
}

main form select, 
.button-filter{
    border: solid 2px #212016;
    color: #212016;
    font-size: 18px;
    transition: background-color 600ms;
} 

main form select, .button-filter{
    background-color: unset;
    color: white;
    font-weight: 700;
}

main form select:hover{
    background-color: #2228319b;
}

main form select option{
    background-color: #0092CA;
    /* transition: display 50px; */
}

main form select{
    margin-bottom: 15px;
    width: 60vw;
    max-width: 350px;
    margin: 10px auto 10px;
    text-align: center;
    min-height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: #0091ca9b solid 3px;
}

.button-filter:hover{
    background-color: #0091ca9b;
}

.button-filter{
    height: 35px;
    width: 35vw;
    max-width: 200px;
    border-radius: 10px;
    border: #222831 solid 3px;
}

.banner-carretera {
    display: none;
}
    
.buy_with_us{
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: #393E46;
    color: #EEEEEE;
}

.buy_with_us h3{
    font-style: italic;
    font-weight: 700;
    font-size: 31px;
    width: 55%;
  /* text-align: center;
  margin-top: 20px; */
}

.bwu_description_container {
    width: 70%;
    text-align: center;
    align-self: flex-end;
    font-weight: 400;
    font-style: italic;
}


.buy_with_us a {
  color: #212016;
  cursor: pointer;
  text-decoration: underline;
  color: #0092CA;
}

.sell_with_us {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swu_container p {
    font-size: 17px;
    margin: 5px 10px 0;
}

.swu_container button {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #517c8d;
  padding: 3px;
  border-radius: 4px;
}

.sell_with_us img{
  height: auto;
  width: 150px;
  filter: grayscale(0.8);
}
/* -----------------------------------carrusel--------------------------------------- */

.recomendations{
    background-color: #222831;
    padding: 15px;
}

.recomendations h3{
    color: #EEEEEE;
}

#carrucel_recomendations{
    width: 100%;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 30px;
}

.item_carrucel{ 
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    position: relative;
}

.tarjeta_carrucel, .container_flechas_carrucel {
    width: 100%;
    height: 100%;
}

.container_flechas_carrucel {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_flechas_carrucel i {
    font-size: 40px;
    width: 40px;
    text-align: center;
    margin: 20px;
    background-color: #5C5E60;
    color: #DBDBDB;
    border-radius: 50%;
}

.tarjeta_carrucel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container_img{
    border: #212016 solid 3px;
    width: 60%;
    min-width: 150px;
    min-height: 100px;
}

.tarjeta_carrucel h4 {
    text-align: left;
    margin-top: 10px;
}

.tarjeta_carrucel p{
    width: 60%;
    min-width: 150px;
    text-align: justify;
    overflow: hidden;
}

/* -----------------------------------carrusel--------------------------------------- */

/* -----------------------------------FOOTER--------------------------------------- */
footer {
    padding: 10px 10px 10px 10px;
}

.container-social-media{
    padding-top: 10px;
    text-align: center;
    font-size:x-large;
}

.container-social-media a{
    margin: 10px;
}

.bookmark{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 1px;
    background-color: #EEEEEE;
}

.nav-footer {
    margin-top: 20px;
}

.nav-footer ul{
    display: flex;
    justify-content: space-around;
}

.nav-footer ul li a:hover {
    font-weight: 700;
}

.terminos-y-condiciones{
    font-size: smaller;
}

.terminos-y-condiciones p {
    margin-bottom: 15px;
    text-align:justify;
}


/* --------------------VISTA TABLET------------------------ */
@media (min-width: 768px){
    header{
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    .burguer-menu {
        display: none;
    }

    .nav_header{
        display: flex;
        align-self: flex-end;
    }

    .nav_header ul {
        display: flex;
    }

    .nav_header ul li{
        margin-right: 25px;
    }

    /* ---------MAIN---------- */
 
    .search-car{
        background-image: url('https://images.pexels.com/photos/13756523/pexels-photo-13756523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }

    main form select{
        max-width: 70%;
    }   
    
    .button-filter{
        height: 45px;
    }
    
    /* ---------CARRUCEL------------ */
    
    #carrucel_recomendations{
        width: 80%;
        box-shadow: 0 0 10px 10px #5c5e60c8 ;
    }

    .container_img {
        width: 70%;
    }

    .tarjeta_carrucel p {
        width: 80%;
    }

    .sell_with_us {
        flex-direction: row;
    }
}

/* --------------------VISTA DESKTOP------------------------ */
@media (min-width: 1024px){
    header{
        padding: 0 15vw 5px;
    }

    .search-car{
        background-image: url(https://images.pexels.com/photos/13756521/pexels-photo-13756521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        /* background-image: url('/images/interior-clasico.jpg'); */
        background-position: top;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-search-car{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 20px 5vh;
    }

    main form select, .button-filter{
        max-width: none;
        max-height: none;
        margin: 0;
        border-radius: 15px;
        height: 60px;
        font-size: 22px;
    }

    main form select {
        width: 23%;
    }

    .button-filter{
        width: 170px;

    }

    main section {
        width: 1024px;
        margin: auto !important;
    }

    .banner-primera-plana{
        display: block;
        height: 300px;
        border-top: #222831 double 10px;
        border-bottom: #222831 double 10px;
        background-image: url('/images/flota-de-autos.jpg');
        background-position: center;
        background-size: cover;
    }

    .banner-carretera{
        display: block;
        height: 250px;
        border-top: #EEEEEE double 10px;
        border-bottom: #222831 double 10px;
        background-image: url('/images/mustang-carretera.jpg');
        background-position: center;
        background-size: cover;
    }
}