<footer>
    <div class="container-social-media">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://twitter.com/" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>

      <a href="https://www.youtube.com/" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <nav class="nav-footer">
      <ul>
        <li><a href="/notFound">Nosotros</a></li>
        <li><a href="/notFound">Vender</a></li>
        <li><a href="/products">Comprar</a></li>
        <li><a href="/notFound">Ayuda</a></li>
      </ul>
    </nav>

    <div class="bookmark"></div>

    <div class="terminos-y-condiciones">
      <p>
          <a href="/notFound">Políticas de Privacidad</a>
      </p>
      
      <p>
          <a href="/notFound">Términos y Condiciones </a>
      </p>
      
      <p >
          LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de
          Control de la Ley N° 25.326, tiene la atribución de atender las denuncias
          y reclamos que interpongan quienes resulten afectados en sus derechos por
          incumplimiento de las normas vigentes en materia de protección de datos
          personales.
      </p>
      <p id="rights-reserved">
        © 2022 Auto Online S.A. 
        Todos los derechos reservados.
      </p>
    </div>

    <div class="logo">
      <img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" />
    </div>
  </footer>