<header>
  
  <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

  <div class="logo">
    <a href="/"><img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" /></a>
    <p class="logo_name">Eleanor Cars</p>
  </div>

  <nav class="nav_header">
    <ul>
      <li><a href="/notFound">Nosotros</a></li>
      <li><a href="/notFound">Vender</a></li>
      <li><a href="/products">Comprar</a></li>
      <li class="cart">
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span id="carritoCantidad" class="carritoCantidad">0</span></a>
      </li>
      <!-- <i class="fa-solid fa-user-gear"></i> usuario con engranaje--> 
      <% if (locals.userLogged) { %>
        
          <% if (locals.userLogged.img) { %>
            <li id="profile-dropdown">
              Hi <%= locals.userLogged.nickname  %> <img class="profile_img" src="/images/users/<%=locals.userLogged.img.name  %>" alt="">
            </li>
            <div class="sub-menu-wrap" id="subMenu">
              <div class="sub-menu">
                <div class="user-info">
                  <img  src="/images/users/<%=locals.userLogged.img.name  %>" alt="">
                  <h3><%= locals.userLogged.nickname  %></h3>
                </div>
                <hr>

                <a href="/user/profile" class="sub-menu-link">
                  <img src="/images/usuario.png" alt="">
                  <p>Ver perfil</p>
                  <span>></span>
                </a>

                <a href="/user/profile/edit" class="sub-menu-link">
                  <img src="/images/setting.png" alt="">
                  <p>Editar perfil</p>
                  <span>></span>
                </a>

                <% if (locals.userLogged.rol_id == 2) { %>
                  <a href="/products/create" class="sub-menu-link">
                    <img src="/images/masblue.png" alt="">
                    <p>Crear producto</p>
                    <span>></span>
                  </a>

                  <a href="/user/list" class="sub-menu-link">
                    <img src="/images/usuarios.png" alt="">
                    <p>Lista de usuarios</p>
                    <span>></span>
                  </a>
                <% } %>

                <a href="/user/logout" class="sub-menu-link">
                  <img src="/images/logout.png" alt="">
                  <p>Cerrar Sesión</p>
                  <span>></span>
                </a>

              </div>
            </div>
            <% } %>
        
      <% } else { %>
        <li>
          <a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
