<header>
  <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

  <div class="logo">
    <a href="/"><img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" /></a>
    <p class="logo_name">Eleanor Cars</p>
  </div>

  <nav class="nav_header">
    <ul>
      <li><a href="/notFound">Nosotros</a></li>
      <li><a href="/notFound">Vender</a></li>
      <li><a href="/products">Comprar</a></li>
      <li class="cart">
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span id="carritoCantidad" class="carritoCantidad">0</span></a>
      </li>
      <!-- <i class="fa-solid fa-user-gear"></i> usuario con engranaje--> 
      <% if (locals.userLogged) { %>
        <% if (locals.userLogged.rol_id == 2) { %>
            <li>
              <a href="/products/create"><i class="fa-solid fa-circle-plus"></i></a>
            </li>
            <li>
              <a href="/user/list"><i class="fa-solid fa-users"></i></a>
            </li>
          <% } %>
          <!-- <i class="fa-solid fa-user-tie"></i> -->
          <% if (locals.userLogged.img) { %>
            <li>
              <a href="/user/profile">Hi <%= locals.userLogged.nickname  %> <img class="profile_img" src="/images/users/<%=locals.userLogged.img.name  %>" alt="">
              </a>
            </li>
          <% } else {%>
            <a href="/user/profile">Hi <%= locals.userLogged.nickname  %></a>
            <% } %>
      <% } else { %>
        <li>
          <a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
