<header>
  <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

  <div class="logo">
    <a href="/"><img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" /></a>
    <p>Eleanor Cars</p>
  </div>

  <nav class="nav_header">
    <ul>
      <li><a href="/notFound">Nosotros</a></li>
      <li><a href="/notFound">Vender</a></li>
      <li><a href="/notFound">Comprar</a></li>
      <li>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li>
        <a href="/login"><i class="fa-solid fa-user-tie"></i></a>
      </li>
      <li>
        <a href="/products/edit"><i class="fa-solid fa-user-gear"></i></a>
      </li>
    </ul>
  </nav>
</header>
