<header>
  <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

  <div class="logo">
    <a href="/"><img src="/images/logo-eleanor-cars.jpg" alt="Logo Eleanor Cars" /></a>
    <p>Eleanor Cars</p>
  </div>

  <nav class="nav_header">
    <ul>
      <li><a href="/notFound">Nosotros</a></li>
      <li><a href="/notFound">Vender</a></li>
      <li><a href="/products">Comprar</a></li>
      <li>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li>
        <a href="/products/create"><i class="fa-solid fa-user-gear"></i></a>
      </li>
      <% if (locals.userLogged) { %>
        <li>
          <a href="/user/profile"><i class="fa-solid fa-user-tie"></i> Hi <%= locals.userLogged.userName  %>
          </a>
        </li>
      <% } else { %>
        <li>
          <a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
